<td>
  <a href="#/polls/<%= poll.id %>" class="poll-link">
    <% var pollBody = poll.escape("body") %>
    <% if (pollBody.length > 40) { %>
      <%= pollBody.slice(0, 40) + '...' %>
    <% } else { %>
      <%= pollBody %>
    <% } %>
  </a>
</td>

<td> 
  <span title="View results">
    <a href="#/polls/<%= poll.id %>/results" class="poll-result-link">
      <span class="glyphicon glyphicon-stats">
    </a>

    <%= poll.total_responses() %>
  </span>
</td>